[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-openstackclient = "*"
toml = "*"
python-heatclient = "*"
openstacksdk = "*"
jinja2 = "*"
docker = "*"
flask = "*"
couchdb = "*"
flask-restplus = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
